@import "../../stylesheets/styles";
.Store {
    clear: left;
    margin: 3em 1em 1em 1em;
    img.storeImage {
        float: left;
        margin: 15px;
        max-width: 356px;
        max-height: 69px;
    }
}

.applyShoppingList {
    clear: left;
}

.storeDetails {
    display: inline-block;
}

.incSearchResultsContainer {
    position: relative;
    margin: 1em 1em 1em 1em;
}

.incSearchResults {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}