@import "../../stylesheets/styles";
.Store {
    overflow: hidden;
    clear: left;
    margin: 3em 1em 1em 1em;
    img.storeImage {
        float: left;
        margin: 15px;
        max-width: 356px;
        max-height: 69px;
    }
}
