.loader {
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid gray;
    border-bottom: 16px solid blue;
    border-left: 16px solid gray;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}