@import "../../stylesheets/styles";

.landingPageWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 481px) {
        flex-direction: row;
        align-items: initial;
    }
}

.landingPageSeparation{
    width: 50%;
    margin: 0 2rem 0 2rem;
}
