@import "./variables";

.std_Button {
  border-radius: 3px;
  background-color: cornflowerblue;
  text-align: center;
  font-family: $standard-font;
  font-size: 18px;
  color: #FFF;
  border-radius: 25px;
  padding: 10px 40px;
}

.std_Button_Secondary {
  border-radius: 3px;
  background-color: cadetblue;
  text-align: center;
  font-family: $standard-font;
  font-size: 18px;
  color: #FFF;
  border-radius: 25px;
  padding: 10px 40px;
}

.pageTitleText {
  font-size: 36px;
}

body {
  font-family: $standard-font;
}