@import "./variables";

.std_blue_Button {
  border-radius: 3px;
  background-color: #ed8b00;
  width: 100%;
  text-align: center;
  font-family: $standard-font;
  font-size: 18px;
  color: #FFF;
  padding: 10px 0;
}

.std_bold_Text {
  font-family: $standard-font;
  font-size: 18px;
  font-weight: bold;
}