$standard-font: 'SyncSpaceStandard';
$font-color: 'white';
$link-color: white;
$small-font-size: .75rem;
$button-font-size: 1.125rem;
$secondary-button-font-size: 0.875rem;
$background-color: #35373a;