$standard-font: 'SyncSpaceStandard';
$font-color: 'white';
$small-font-size: .75rem;
$button-font-size: 1.125rem; //18 / 16 px;
$secondary-button-font-size: 0.875rem; //14 /  16 px;
$background-color: #35373a;