@import "../../stylesheets/variables";
.topMenuIndex {
  ul {
    padding-left: 0;
    &::before {
      content: "☰";
      padding: .15em .25em;
      text-align: center;
      background: cadetblue;
      font-size: 200%
    }
    &:hover::before {
      display: none
    }
    li {
      display: none;
      width: 100%;
      a {
        font-family: $standard-font;
        display: block;
        padding: .5em 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        background: cadetblue;
        color: white;
        &:hover {
          background: darkolivegreen;
        }
      }
    }
    &:hover>li {
      display: block;
    }
    @media screen and (min-width: 481px) {
      display: flex;
      &::before {
        display: none;
      }
      li {
        display: block;
      }
    }
  }
  &.LoginStatus {
    background: cornflowerblue;
  }
}