@import "../../stylesheets/variables";
.topMenuIndex {
  ul {
    padding-left: 0;
    &::before {
      content: "☰";
      padding: .15em .25em;
      text-align: center;
      background: cadetblue;
      font-size: 200%
    }
    &:hover::before {
      display: none
    }
    li {
      max-height: 0px;
      opacity: 0;
      width: 100%;
      a {
        font-family: $standard-font;
        display: block;
        padding: .5em 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        background: cadetblue;
        color: white;
        &:hover {
          // background: darkolivegreen;
          text-decoration: underline;
        }
      }
    }
    &:hover>li {
      max-height: 800px;
      opacity: 1;
      transition: max-height 2s ease-in, opacity 2s ease-in, ;
    }
    @media screen and (min-width: 481px) {
      display: flex;
      &::before {
        display: none;
      }
      li {
        display: block;
        height: auto;
        opacity: 1;
      }
    }
  }
  &.LoginStatus {
    background: cornflowerblue;
  }
}