@import "../../stylesheets/variables";
.registerAlign {
    width: 25%;
    min-width: 240px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
}