/* This will disable the background */

.disableBackGround {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    z-index: 1;
    height: 100%;
    width: 100%;
    &.show {
        visibility: visible;
    }
}


/* The snackbar - position it at the bottom and in the middle of the screen */

.snackbar {
    visibility: hidden;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    animation: fadeout 0.5s;
    &.show {
        visibility: visible;
        z-index: 2;
        animation: fadein 0.5s;
    }
}


/* Animations to fade the snackbar in and out */

@keyframes fadein {
    from {
        visibility: hidden;
    }
    to {
        visibility: visible;
    }
}

@keyframes fadeout {
    from {
        visibility: visible;
    }
    to {
        visibility: hidden;
    }
}